<div class="container">
    <br>
    <br>
    <h2>EMPLOYEE DATA</h2>
    <br>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ID(isbn)</th>
          <th scope="col">SERIAL NO/ISBN</th>
          <th scope="col">TITLE</th>
          <th scope="col">AUTHORS</th>
          <th scope="col">YEAR</th>
          <th scope="col">PRICE</th>
          <th scope="col">UPDATE</th>
          <th scope="col">DELETE</th>

  
  
  
  
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <th scope="row"></th>
          <td>{{book.isbn}}</td>
          <td>{{book.serial}}</td>
          <td>{{book.title}}</td>
          <td>{{book.author}}</td>
          <td>{{book.year}}</td>
          <td>{{book.price}}</td>



          <td>
            <button (click)="updateBookPage(book.isbn)" class="btn btn-success">UPDATE</button>
          </td>
          <td>
            <button (click)="deleteBook(book.isbn)" class="btn btn-danger">DELETE</button>
          </td>
        </tr>
  
      </tbody>
    </table>
  </div>