<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/books">  BOOKAPP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/books">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/create">CREATE</a>
        </li>
        
        
      </ul>
      <form class="d-flex"  (ngSubmit)="onSearch()"  >

        <input class="form-control me-2"  [(ngModel)]="book.title" type="text" placeholder="Search"  id="search" name="search"  >
        <button  class="btn btn-outline-success" type="submit">Search</button>

      </form>
    </div>
  </div>
</nav>

<router-outlet>
</router-outlet>
<footer class="text-center fixed-bottom text-white" style="background-color: #f1f1f1;">

  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" target="_blank" href="https://google.com/">deepikaa.com</a>
  </div>
  <!-- Copyright -->
</footer>